html, body, #root, .App {
    height: 100%;
}
.bold {
    font-weight: 500;
}

.problem-description {
    line-height: 2.5;
}

.fullscreen {
    display: flex;
    height: 100%;
    flex-direction: column;
}
#editor {
    display: flex;
    flex: 1;
    min-height: 0;
}

.editor-side {
    width: 50px;
    background-color: #1f2227;
}

.editor-content {
    background-color: rgb(240, 240, 240);
    flex: 1;
    display: flex;
}

#editor .desc {
    display: flex;
    height: 100%;
}
#problem-editor {
    overflow: hidden;
}
#problem-editor footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: #1f2227;
    color: #7e8186;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 700;
}

.desc > div {
    overflow: auto;
}

.problem-content {
    line-height: 2;
    color: #1f2227 !important;
    background-color: white;
}

.divider.vertical {
    height: 100vh;
    width: 4px;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 50%;
}

@media only screen and (max-width: 600px) {
    #editor .divider {
        display: none;
    }
  }


.resizer {
    min-width: 100%;
    height: 6px;
    background-color: #1f2227;
}

.resizer:hover {
    cursor: row-resize;
}

.editor-root {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.editor-root > div {
    //flex: 1;
}

.code-editor  {
    display: flex;
    height: 100%;
}